<!DOCTYPE html>
<html>
  <head>
    <title>theGame</title>
    <script src="/javascripts/phaser.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
  </body>
</html>
